body {
  background-color: #181818;
  font-family: "Montserrat", sans-serif;
  color: #e4e4e4;
}

.header-row {
  min-height: 75px;
  background-color: #333333;
  align-items: center;
}

.title {
  font-size: 50px;
  text-transform: lowercase;
  letter-spacing: 20px;
  text-align: center;
  font-weight: 700;
  width: fit-content;
  margin: auto;
  background-image: linear-gradient(
    to left,
    #ee96f8,
    #f896cc,
    #f89696,
    #f8b195,
    #f8e596,
    #d2f896,
    #96f89f,
    #96f8d6,
    #96f4f8,
    #96bff8,
    #9b96f8,
    #c296f8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -9px;
}

.header-col {
  position: relative;
}

.score-board {
  padding: 10px;
  margin: 30px auto 20px auto;
  text-align: center;
}

.score-board ul {
  list-style: none;
  margin: 0;
  padding: 15px;
  background: #222;
  display: inline;
  border-radius: 5px;
}

.score-board ul li {
  font-size: 18px;
  padding: 0 10px;
  margin: none;
  display: inline-block;
  text-align: center;
}

/* Game Board */

.game-board {
  max-width: 1600px;
  margin: auto;
}

.color-card-wrapper {
  padding: 10px;
}

.color-card {
  background-color: #222;
  border-radius: 5px;
  padding: 0;
  /* margin: 15px; */
}

.color-display {
  height: 150px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.color-name {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
